### creating a dataset with pandas

In [1]:
import pandas as pd

In [2]:
# Creating a dataframe with lists inside a dict

data= {'company':['skoda','honda','mahindra'],
      'model':['kushaq','civic','thar'],
      'year':[2020,2020,2020],
      'cc':[1498,1799,1997],
       'type':['petrol','petrol','petrol'],
       'price':['20L','20L','16.5L']}
df=pd.DataFrame(data)
df

    company   model  year    cc    type  price
0     skoda  kushaq  2020  1498  petrol    20L
1     honda   civic  2020  1799  petrol    20L
2  mahindra    thar  2020  1997  petrol  16.5L

In [3]:
#saving the dataframe to csv file

df.to_csv('vehicles.csv',index=None)

In [4]:
veh=pd.read_csv('/users/bhargavdamarla/1ds_python/vehicles.csv')
veh

    company   model  year    cc    type  price
0     skoda  kushaq  2020  1498  petrol    20L
1     honda   civic  2020  1799  petrol    20L
2  mahindra    thar  2020  1997  petrol  16.5L

In [ ]:
### creating a dataset with pandas

## creating a dataset using public api ##

In [1]:
from requests import Request, Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import json

url = 'https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest' 
#Original Sandbox Environment: 'https://sandbox-api.coinmarketcap.com/v1/cryptocurrency/listings/latest'
parameters = {
  'start':'1',
  'limit':'5000',
  'convert':'USD'
}
headers = {
  'Accepts': 'application/json',
  'X-CMC_PRO_API_KEY': '0ad53085-1cb2-4eb8-ad9e-3ffbd7e56509',
}

session = Session()
session.headers.update(headers)

try:
  response = session.get(url, params=parameters)
  data = json.loads(response.text)
  #print(data)
except (ConnectionError, Timeout, TooManyRedirects) as e:
  print(e)

#NOTE:
# I had to go in and put "jupyter notebook --NotebookApp.iopub_data_rate_limit=1e10"
# Into the Anaconda Prompt to change this to allow to pull data

# If that didn't work try using the local host URL as shown in the video

In [2]:
type(data)

dict

In [3]:
import pandas as pd


#This allows you to see all the columns, not just like 15
df= pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

In [4]:
#This normalizes the data and makes it all pretty in a dataframe

df= pd.json_normalize(data['data'])

In [7]:
df

,id,name,symbol,slug,num_market_pairs,date_added,tags,max_supply,circulating_supply,total_supply,infinite_supply,platform,cmc_rank,self_reported_circulating_supply,self_reported_market_cap,tvl_ratio,last_updated,quote.USD.price,quote.USD.volume_24h,quote.USD.volume_change_24h,quote.USD.percent_change_1h,quote.USD.percent_change_24h,quote.USD.percent_change_7d,quote.USD.percent_change_30d,quote.USD.percent_change_60d,quote.USD.percent_change_90d,quote.USD.market_cap,quote.USD.market_cap_dominance,quote.USD.fully_diluted_market_cap,quote.USD.tvl,quote.USD.last_updated,platform.id,platform.name,platform.symbol,platform.slug,platform.token_address
0,1,Bitcoin,BTC,bitcoin,10686,2010-07-13T00:00:00.000Z,"[mineable, pow, sha-256, store-of-value, state...",2.100000e+07,1.958144e+07,19581443,False,NaN,1,NaN,NaN,NaN,2023-12-26T14:57:00.000Z,42617.292236,2.565052e+10,19.1738,-0.229054,-2.445211,0.638344,14.102742,25.607121,62.690702,8.345081e+11,50.2183,8.949631e+11,NaN,2023-12-26T14:57:00.000Z,NaN,NaN,NaN,NaN,NaN
1,1027,Ethereum,ETH,ethereum,8113,2015-08-07T00:00:00.000Z,"[pos, smart-contracts, ethereum-ecosystem, coi...",NaN,1.201839e+08,120183898.844562,True,NaN,2,NaN,NaN,NaN,2023-12-26T14:57:00.000Z,2242.069891,9.458146e+09,14.5575,-0.221204,-2.165700,2.439220,8.596794,26.227445,40.548867,2.694607e+11,16.2137,2.694607e+11,NaN,2023-12-26T14:57:00.000Z,NaN,NaN,NaN,NaN,NaN
2,825,Tether USDt,USDT,tether,69718,2015-02-25T00:00:00.000Z,"[payments, stablecoin, asset-backed-stablecoin...",NaN,9.132594e+10,94603058351.448959,True,NaN,3,NaN,NaN,NaN,2023-12-26T14:56:00.000Z,0.999894,5.599261e+10,14.7205,-0.000917,-0.012585,0.034922,-0.030462,-0.017306,0.059417,9.131625e+10,5.4951,9.459301e+10,NaN,2023-12-26T14:56:00.000Z,1027.0,Ethereum,ETH,ethereum,0xdac17f958d2ee523a2206206994597c13d831ec7
3,5426,Solana,SOL,solana,563,2020-04-10T00:00:00.000Z,"[pos, platform, solana-ecosystem, cms-holdings...",NaN,4.288534e+08,565719997.929135,True,NaN,4,NaN,NaN,NaN,2023-12-26T14:56:00.000Z,113.820953,6.634461e+09,44.1280,-1.628446,-3.177467,55.639664,99.471658,253.582613,504.963829,4.881251e+10,2.9357,6.439079e+10,NaN,2023-12-26T14:56:00.000Z,NaN,NaN,NaN,NaN,NaN
4,1839,BNB,BNB,bnb,1921,2017-07-25T00:00:00.000Z,"[marketplace, centralized-exchange, payments, ...",NaN,1.516934e+08,151693443.552291,False,NaN,5,NaN,NaN,NaN,2023-12-26T14:56:00.000Z,299.675758,1.584904e+09,102.3010,-0.468571,11.966850,19.791237,29.127277,32.953003,41.517367,4.545885e+10,2.7340,4.545885e+10,NaN,2023-12-26T14:56:00.000Z,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,20394,xSPECTAR,XSPECTAR,xspectar,12,2022-05-31T23:54:55.000Z,[],8.888889e+07,0.000000e+00,88888888,False,NaN,4996,3.966718e+07,2.202509e+06,NaN,2023-12-26T14:56:00.000Z,0.055525,4.305851e+03,-57.9506,0.009753,-8.023249,-1.703260,57.489671,58.148714,60.174322,0.000000e+00,0.0000,4.935529e+06,NaN,2023-12-26T14:56:00.000Z,52.0,XRP Ledger,XRP,xrp,rh5jzTCdMRCVjQ7LT6zucjezC47KATkuvv
4996,26229,SpaceAI,SPAI,spaceai,2,2023-07-31T08:07:09.000Z,[],1.000000e+09,0.000000e+00,1000000000,False,NaN,4997,3.928975e+06,7.110852e+03,NaN,2023-12-26T14:56:00.000Z,0.001810,4.302536e+03,-13.5677,0.565973,1.677515,-14.595077,-38.035953,-46.621962,-47.956590,0.000000e+00,0.0000,1.809849e+06,NaN,2023-12-26T14:56:00.000Z,11841.0,Arbitrum,ARB,arbitrum,0x358E5D2378f5Fc3fA5504aEbb728c4C568F973a4
4997,8981,WardenSwap,WAD,wardenswap,16,2021-03-29T00:00:00.000Z,"[decentralized-exchange-dex-token, dex, arbitr...",2.000000e+08,0.000000e+00,41631819,False,NaN,4998,5.661557e+07,3.221623e+05,NaN,2023-12-26T14:56:00.000Z,0.005690,4.299111e+03,1074.2199,1.072505,8.319302,14.106564,-9.283803,-13.625650,-17.112849,0.000000e+00,0.0000,1.138070e+06,NaN,2023-12-26T14:56:00.000Z,1027.0,Ethereum,ETH,ethereum,0x0b6f3c17e1626a7cbfa4302ce4e3c45522d23a83
4998,15006,MetalSwap,XMT,metalswap,20,2021-11-23T01:22:09.000Z,[],NaN,0.000000e+00,2000000000,False,NaN,4999,2.004222e+08,3.748079e+06,NaN,2023-12-26T14:56:00.000Z,0.018701,4.297471e+03,-28.9822,-0.560038,15.803421,9.945144,40.116628,59.898397,119.056057,0.000000e+00,0.0000,0.000000e+00,NaN,2023-12-26T14:56:00.000Z,1027.0,Ethereum,ETH,ethereum,0x3E5D9D8a63CC8a88748f229999CF59487e90721e
4999,22117,CrowdSwap,CROWD,crowdswap,12,2022-10-08T23:40:52.000Z,[],NaN,0.000000e+00,709000000,False,NaN,5000,2.144767e+08,5.902583e+06,NaN,2023-12-26T14:56:00.000Z,0.027521,4.211430e+03,9.8537,0.958515,1.921087,0.559977,-22.219437,145.508051,107.269081,0.000000e+00,0.0000,1.951229e+07,NaN,2023-12-26T14:56:00.000Z,1027.0,Ethereum,ETH,ethereum,0xeDCC68Cc8b6Ec3eDE0979f8A52835b238A272027

In [5]:
#saving the datafrme as 'coins.csv' file with no index

df.to_csv('coins.csv',index=None)

In [6]:
coins=pd.read_csv('/users/bhargavdamarla/1ds_python/coins.csv')
coins.head()

,id,name,symbol,slug,num_market_pairs,date_added,tags,max_supply,circulating_supply,total_supply,infinite_supply,platform,cmc_rank,self_reported_circulating_supply,self_reported_market_cap,tvl_ratio,last_updated,quote.USD.price,quote.USD.volume_24h,quote.USD.volume_change_24h,quote.USD.percent_change_1h,quote.USD.percent_change_24h,quote.USD.percent_change_7d,quote.USD.percent_change_30d,quote.USD.percent_change_60d,quote.USD.percent_change_90d,quote.USD.market_cap,quote.USD.market_cap_dominance,quote.USD.fully_diluted_market_cap,quote.USD.tvl,quote.USD.last_updated,platform.id,platform.name,platform.symbol,platform.slug,platform.token_address
0,1,Bitcoin,BTC,bitcoin,10686,2010-07-13T00:00:00.000Z,"['mineable', 'pow', 'sha-256', 'store-of-value...",21000000.0,1.958144e+07,1.958144e+07,False,NaN,1,NaN,NaN,NaN,2023-12-26T14:57:00.000Z,42617.292236,2.565052e+10,19.1738,-0.229054,-2.445211,0.638344,14.102742,25.607121,62.690702,8.345081e+11,50.2183,8.949631e+11,NaN,2023-12-26T14:57:00.000Z,NaN,NaN,NaN,NaN,NaN
1,1027,Ethereum,ETH,ethereum,8113,2015-08-07T00:00:00.000Z,"['pos', 'smart-contracts', 'ethereum-ecosystem...",NaN,1.201839e+08,1.201839e+08,True,NaN,2,NaN,NaN,NaN,2023-12-26T14:57:00.000Z,2242.069891,9.458146e+09,14.5575,-0.221204,-2.165700,2.439220,8.596794,26.227445,40.548867,2.694607e+11,16.2137,2.694607e+11,NaN,2023-12-26T14:57:00.000Z,NaN,NaN,NaN,NaN,NaN
2,825,Tether USDt,USDT,tether,69718,2015-02-25T00:00:00.000Z,"['payments', 'stablecoin', 'asset-backed-stabl...",NaN,9.132594e+10,9.460306e+10,True,NaN,3,NaN,NaN,NaN,2023-12-26T14:56:00.000Z,0.999894,5.599261e+10,14.7205,-0.000917,-0.012585,0.034922,-0.030462,-0.017306,0.059417,9.131625e+10,5.4951,9.459301e+10,NaN,2023-12-26T14:56:00.000Z,1027.0,Ethereum,ETH,ethereum,0xdac17f958d2ee523a2206206994597c13d831ec7
3,5426,Solana,SOL,solana,563,2020-04-10T00:00:00.000Z,"['pos', 'platform', 'solana-ecosystem', 'cms-h...",NaN,4.288534e+08,5.657200e+08,True,NaN,4,NaN,NaN,NaN,2023-12-26T14:56:00.000Z,113.820953,6.634461e+09,44.1280,-1.628446,-3.177467,55.639664,99.471658,253.582613,504.963829,4.881251e+10,2.9357,6.439079e+10,NaN,2023-12-26T14:56:00.000Z,NaN,NaN,NaN,NaN,NaN
4,1839,BNB,BNB,bnb,1921,2017-07-25T00:00:00.000Z,"['marketplace', 'centralized-exchange', 'payme...",NaN,1.516934e+08,1.516934e+08,False,NaN,5,NaN,NaN,NaN,2023-12-26T14:56:00.000Z,299.675758,1.584904e+09,102.3010,-0.468571,11.966850,19.791237,29.127277,32.953003,41.517367,4.545885e+10,2.7340,4.545885e+10,NaN,2023-12-26T14:56:00.000Z,NaN,NaN,NaN,NaN,NaN